<!-- _includes/head.html -->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
  <meta name="description" content="{{ page.excerpt | strip_html | strip_newlines | default: site.description }}">

  {{ seo }}
  {{ feed_meta }}

  <!-- favicon -->
  <link rel="icon" href="{{ '/favicon.ico' | relative_url }}" type="image/x-icon">

  <!-- custom dark-mode & layout overrides -->
  <link rel="stylesheet" href="{{ '/assets/styles.css' | relative_url }}">
</head>
