<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
  <header class="site-header">
    <div class="site-content">
      <h1 class="site-title">
        <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
      </h1>
      <nav>
        <ul>
          <li><a href="{{ '/' | relative_url }}">Home</a></li>
          <li><a href="{{ '/datasets/' | relative_url }}">Datasets</a></li>
          <li><a href="{{ '/3d-object-detection/' | relative_url }}">Models</a></li>
          <li><a href="{{ '/references/' | relative_url }}">References</a></li>
          <li><a href="{{ '/about/' | relative_url }}">About</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <main class="site-content">
    {{ content }}
  </main>

  <footer class="site-footer site-content">
    <p>&copy; {{ site.time | date: "%Y" }} {{ site.title }}</p>
  </footer>
</body>
</html>
